@import "canvas-parameters/dist/index.css";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#parameters {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  color: #ffffff;
}

#parameters > input {
  display: block;
  margin: 5px;
  padding: 5px;
  outline: 0;
  border: none;
}

canvas {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
